@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Montserrat',sans-serif;
  color: whitesmoke;
}
.layout{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}
.layout-main{
  background-color:rgb(39, 42, 43);
  width: 100vw;
  height: 94.5vh;
  display: flex;
  flex-direction: column;
}
.header{
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  color: white;
  padding: 8px 16px;
  background-color: rgb(39, 42, 43);
  border-bottom:1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer{
  background-color: rgb(39, 42, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 8px;

  border-top:1px solid whitesmoke;
}
.title{
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
}
.userIcon{
  cursor: pointer;
  font-size: 18px;
}
.userIcon:hover{
  opacity: 40%;
}
.login{
  /* background-color: #093545; */
  background-color: rgb(39, 42, 43);
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.signIn{
  color: white;
  text-align: center;
  font-size: 44px;
}
input{
  height: 2.5rem;
  width: 18.75rem;
  background-color: rgba(74, 74, 79, 0.941);
  color: white;
  border-radius: 10px;
  padding: 4px 8px;
}
.loginBtn{
  background-color: #20DF7F;
  width: 18.75rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  color: white;
  height: 36px;
  border-radius: 10px;
}
.errors{
  max-width: 40ch;
  color: #F33A6A;
}
.googleSignIn{
  width: 18.75rem;
  border-radius: 10px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border:1px solid #dadce0b7;
  color: white;
}
.google{
  color:#3587f1;
}

.isLoginIn{
  color:white;
}

.noAccount{
  color: rgb(208, 197, 197);
}
.fa-brands{
  font-size: 24px;
  cursor: pointer;
}

.dashboard{
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.menu-context{
  width:6rem;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: absolute;
  display:flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(74, 74, 79);
  right:30px;
  top: 34px;
}
.menu-item{
  padding: 4px;
  cursor: pointer;
  border-bottom: 1px solid white;
  text-align: center;
}